.btn-primary {
  background-color: #4C5839;
  border-color: #4C5839;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #617049;
  border-color: #617049;
}
